@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;400&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "Sofia Sans", sans-serif;
  background: linear-gradient(to right, lightblue, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: royalblue;
  color: white;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin: 0 0 30px 0;
  cursor: pointer;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.container {
  width: 450px;
  padding: 15px;
  margin: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.anime-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid greenyellow;
}

.anime-name {
  background-color: greenyellow;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.anime-container {
  display: none;
}
